* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bg-collors: rgb(25, 20, 20);
    --highlight-collor: #1db954;
    --text-collor: rgb(255, 255, 255);
}

:root{
    font-size: 62.5%;

    --ff-button:'Montserrat', sans-serif;

    
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    font-family: var(--ff-button);
    background-color: var(--bg-collors);
    color: var(--text-collor);
}

.container{
    margin: 20rem 10rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

h1 {
    font-size: 6rem;
}

main{
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

a {
    color: var(--highlight-collor);
    cursor: pointer;
}

.backToList,
.backToHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}