<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new album</title>
</head>
<body>
    <h1>Add new album</h1>
    <form action="/albums" method="POST">
        <label for="title">Album's title</label><br>
        <input type="text" name="title" placeholder="Name of the album"><br>
        
        <label for="release_year">Release year</label><br>
        <input type="number" name="release_year" placeholder="1993"><br>
        
        <label for="artist_name">Select a artist name:</label><br>
        <select name="artist_name" id="artist_toggle">
            <option value=1>Pixies</option>
            <option value=2>Rolling Stones</option>
        </select>

        <br>

        <input type="submit" value="Add album">
    </form>
    <a href="/">Back to Homepage</a>

</body>
</html>